<div class="master">
    <div class="box">
        <img src="../assets/images/question.png" class="image" />
        <h1 class="dialog">Qu'est ce que c'est ?!</h1>
        <img src="../assets/images/check.png" class="image2" />
        <h1 class="dialog2">
            Des quiz interactifs pour tester votre culture générale !
        </h1>
        <img src="../assets/images/question.png" class="image" />
        <h1 class="dialog3">
            Oui mais j'ai un peu de mal avec la technologie...
        </h1>
        <img src="../assets/images/check.png" class="image2" />
        <h1 class="dialog2">
            Pas de souci, notre interface intuitive ne vous posera aucun
            problème !
        </h1>
        <h1 class="dialog4">
            Et avec nos nombreux réglages, adaptez votre interface en fonction
            de vos besoins !
        </h1>
    </div>

    <div class="main">
        <h1 class="title">Bienvenue sur StonksQuiz !</h1>
    </div>
</div>
