@import "../../../styles/main-box";

.title {
    font-size: 50px;
}

.slot01 {
    width: 77%;
    background-color: #f8f8f8;
    height: 12vh;
    margin-top: 4vh;
    margin-left: 2%;
    border-radius: 2vh;
}

.modif {
    outline: none;
    display: flex;
    float: right;
    font-size: 40px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 2vh;
    background-color: #b4a7d6;
    cursor: pointer;
    margin-top: -12vh;
}

.back {
    outline: none;
    display: inline-block;
    font-size: 40px;
    padding: 10px;
    border-radius: 2vh;
    background-color: #b4a7d6;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 2vh;
}

.nav {
    outline: none;
    display: inline-block;
    font-size: 40px;
    padding: 10px;
    border-radius: 2vh;
    background-color: #b6d7a8;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 2vh;
}

.add {
    outline: none;
    display: flex;
    margin-top: -5vh;
    float: right;
    font-size: 50px;
    margin-right: 5vw;
    cursor: pointer;
    border-radius: 2vh;
    background-color: #b6d7a8;
}
