@import "./styles/variables.scss";
@import "./styles/project-theming.scss";
@import "../node_modules/font-awesome/css/font-awesome.css";

/* You can add global styles to this file, and also import other style files */
html {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
