<div class="mainBox">
    <h1 class="title">Récapitulatif :</h1>
    <h1 class="question" id="question">[INSERT HERE THE QUESTION]</h1>

    <h1 class="rep01" id="answer1">[REPONSE01]</h1>
    <h1 class="rep02" id="answer2">[REPONSE02]</h1>
    <h1 class="rep01" id="answer3">[REPONSE03]</h1>
    <h1 class="rep02" id="answer4">[REPONSE04]</h1>

    <button appSlowClick class="next" (throttleClick)="validate()">
        Suivant
    </button>

    <button class="exit" (click)="back()">Annuler</button>
</div>
