<div class="navigation-bar">
    <div class="menu" routerLink="not-connected/home">
        <img class="homeImg" src="../assets/images/home.png" alt="home" />
    </div>

    <div class="doQuiz" routerLink="not-connected/log-in">
        <img class="otherImg" src="../assets/images/log.png" alt="start" />
        <span>Connexion</span>
    </div>

    <div class="myQuiz" routerLink="not-connected/register">
        <img class="otherImg" src="../assets/images/addUser.png" alt="add" />
        <span>S'enregistrer</span>
    </div>

    <div class="setting"></div>
</div>
