@import "../navigation-bar/navigation-bar.component.css";
@import "../../../styles/variables";

.setting {
    background-color: #666666;
}

.doQuiz {
    background-color: #9fc5f8;
}

.myQuiz {
    background-color: $green;
}
